################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/UnoFlyoutStyleIssue/UnoFlyoutStyleIssue.Droid/bin/Debug
